body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1514px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:1514px;
  height:2723px;
}
#u5408_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:2723px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 248, 254, 1);
  background-image:url('../../images/rlsj9-14/u408_state0.png');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1764px;
  background-origin:border-box;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5408_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2609px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(254, 165, 83, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:84px;
  width:959px;
  height:2609px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u5410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#302E72;
  text-align:center;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:103px;
  width:542px;
  height:62px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#302E72;
  text-align:center;
}
#u5411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5412_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:504px;
  height:7px;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:173px;
  width:500px;
  height:3px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEA553;
  text-align:justify;
  text-justify:inter-word;
}
#u5412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:2623px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u5413 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:182px;
  width:308px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u5414 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:2370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  line-height:30px;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:219px;
  width:790px;
  height:2370px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  line-height:30px;
}
#u5415 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:34px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5416 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5417 {
  position:fixed;
  right:50px;
  top:50%;
  margin-top:-178.5px;
}
#u5417_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:457px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:15px;
  -moz-box-shadow:0px 20px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 20px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 20px 15px rgba(0, 0, 0, 0.247058823529412);
  overflow:hidden;
}
#u5417_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:400px;
  height:382px;
  touch-action:pan-y;
}
#u5419_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:382px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5419_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:260px;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:260px;
  display:flex;
  font-size:20px;
}
#u5420 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:382px;
  display:flex;
}
#u5422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:66px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:400px;
  height:66px;
  display:flex;
}
#u5424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5424_img.mouseOver {
  left:-15px;
  width:430px;
  height:101px;
}
#u5424.mouseOver {
}
#u5424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:27px;
  width:310px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:66px;
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:400px;
  height:66px;
  display:flex;
}
#u5427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5427_img.mouseOver {
  left:-15px;
  width:430px;
  height:101px;
}
#u5427.mouseOver {
}
#u5427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:121px;
  width:310px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:66px;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:400px;
  height:66px;
  display:flex;
}
#u5430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5430_img.mouseOver {
  left:-15px;
  width:430px;
  height:101px;
}
#u5430.mouseOver {
}
#u5430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:215px;
  width:310px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:66px;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:400px;
  height:66px;
  display:flex;
}
#u5433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5433_img.mouseOver {
  left:-15px;
  width:430px;
  height:101px;
}
#u5433.mouseOver {
}
#u5433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:307px;
  width:310px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:center;
}
#u5434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:3px;
  color:#302E72;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:5px;
  width:290px;
  height:65px;
  display:flex;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:3px;
  color:#302E72;
}
#u5435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2791px;
  width:1514px;
  height:224px;
}
#u5439_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u7_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1404px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5439_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
  display:flex;
  color:#302E72;
}
#u5440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:175px;
  width:335px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u5441 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:23px;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:38px;
  width:352px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:4px;
  color:#302E72;
  text-align:center;
}
#u5442 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:139px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5443_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:139px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:139px;
  width:238px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:139px;
  width:147px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u5447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u5448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:103px;
  width:107px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5449_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:103px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5450_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:103px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5451_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:103px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u5452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u5453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u5454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u5455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/index/u386_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:15px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u5457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5459 {
  position:fixed;
  left:50%;
  margin-left:-757px;
  top:0px;
  width:1514px;
  height:68px;
}
#u5459_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:68px;
}
#u5460_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5460_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:68px;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:68px;
  display:flex;
}
#u5461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/index/u386_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5463_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5464_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5465_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5466_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5467_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5468_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5469_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5470_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5471_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5472_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5473_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5474_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5475_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u5476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u5476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5476_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
